<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>All User</title>
  </head>
  <body class="bg-zinc-900 text-white">
    <main class="max-w-screen-xl mx-auto p-10">
      <nav class="flex items-center justify-between">
        <h5>LOGO</h5>
        <div>
          <a href="/" class="text-blue-500">Create User</a>
        </div>
      </nav>
      <h1 class="text-xl mb-5 mt-7 font-semibold">All user</h1>
      <div>
        <% if(allUser.length > 0){ %>
        <div class="grid grid-cols-5 gap-3">
          <% allUser.forEach((user)=> { %>
          <div class="bg-zinc-800 p-4 rounded-md">
            <div class="h-40 bg-zinc-700 mb-3 rounded-md overflow-hidden">
              <img class="h-full w-full object-cover object-center" src="<%= user.photoUrl %>" alt="" />
            </div>
            <h4 class="text-lg font-medium"><%= user.name %></h4>
            <p class="text-zinc-500"><%= user.email %></p>
            <div class="flex items-center gap-2 mt-2">
              <a href="/edit/<%= user._id %>" class="text-sm text-blue-500">Edit</a>
              <a href="/delete/<%= user._id %>" class="text-sm text-red-500">Delete </a>
            </div>
          </div>
          <% } ) %>
        </div>
        <% } else { %>
        <h4 class="text-center text-2xl text-zinc-600 mt-40">No user found</h4>
        <% } %>
      </div>
    </main>
  </body>
</html>
